{% liquid
  assign label_check = false
  assign labels = _labels | split: ','
  assign label_count = labels | size
  if label_count > 0
    assign label_check = true
  endif
%}

{% if label_check == true %}
  <iv-accordion
    labels="{{- _labels | escape -}}"
    {% if _allow_multiple == true %}
      allowmultiple
    {% endif %}
    {% if _start_open == true %}
      startopen
    {% endif %}
    acordionlayout="{{ _layout }}"
    contentplacement="{{ _content_placement }}"
    dropdownicon="{{ _icon }}"
  >
    <div slot="panel-0">Information pending.</div>
    <div slot="panel-1">Information pending.</div>
    <div slot="panel-2">Information pending.</div>
  </iv-accordion>
{% endif %}
