foxy-discount-applier {
	display: block;
	width: 35rem;
	margin-left: auto;
}

@media (max-width: 767px) {
	foxy-discount-applier {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}
}

.foxy-discount-container {
	background-color: #ffffff;
	border-radius: 0.625rem;
	padding: 1.25rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.foxy-discount-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #000000;
	flex-shrink: 0;
}

.foxy-discount-title {
	font-weight: 700;
	font-size: 2.5rem;
	letter-spacing: 0.03em;
  margin: 0;
}

.foxy-discount-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 1 1 auto;
}

.foxy-discount-row {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: stretch;
}

.foxy-discount-input {
	flex: 1 1 auto;
	border: 1px solid #221f20;
	border-radius: 9999px;
	padding: 0.5rem 1rem;
	background-color: #ffffff;
	outline: none;
}

.foxy-discount-row button[type="submit"] {
	display: block;
	width: 100%;
}

.foxy-discount-feedback {
	display: block;
	font-size: 0.875rem;
}

/* Feedback colors used by JS */
.text-green-600 {
	color: #16a34a;
}

.text-red-600 {
	color: #dc2626;
}